.cursor {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  backdrop-filter: brightness(110%) saturate(200%) hue-rotate(90deg);
  z-index: 10;

  @media (hover: none) {
    display: none;
  }
}