.title__container {
  display: grid;
  place-content: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 2;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    overflow: hidden;

    &:nth-child(1) {
      transform: translateY(calc(-40px + -6vw));
    }

    &:nth-child(3) {
      transform: translateY(calc(40px + 6vw));
    }

    span {
      font-size: calc(40px + 5vw);
      font-weight: 900;
      text-shadow: 0 0 7px #00000050;
    }
  }

  .mouse__scroll__down {
    width: 50px;
    height: 50px;
    background: url('https://gloryson.github.io/next/img/svg/mouse-scroll-down.svg') no-repeat center;
    background-size: 100%;
    bottom: 5vh;
    left: calc(50% - 25px);

    @media (hover: none) {
      bottom: 15vh;
    }
  }
}