.main {
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  width: 100%;
  height: 100vh;

  @media (max-width: 1000px) {
    grid-template: 1fr / 1fr;
  }
}

.main__title {
  display: grid;
  place-content: center;
  background: url('/img/big-liquid-gradient.jpg') no-repeat left;
  background-size: 200% 100%;
  filter: invert(100%);

  @media (max-width: 1000px) {
    background-position: center;
    background-size: cover;
  }

  .title__image {
    filter: invert(100%);
    width: calc(100vw / 2.5);
    height: calc(100vw / 2.5 / 1.7);
    background: url('/img/title.png') no-repeat center;
    background-size: 100%;

    @media (min-width: 1000px) {
      min-width: 500px;
      min-height: 295px;
    }

    @media (max-width: 1000px) {
      width: calc(100vw / 1.4);
      height: calc(100vw / 1.4 / 1.7);
    }

    @media (max-width: 700px) {
      width: 100vw;
      height: calc(100vw / 1.7);
    }
  }
}

.main__canvas {
  display: grid;
  place-content: center;
  grid-template: 1fr / 1fr;
  background: url('/img/big-liquid-gradient.jpg') no-repeat right;
  background-size: 200% 100%;

  @media (max-width: 1000px) {
    display: none;
  }
}

.burger {
  position: absolute;
  top: 0;
  left: calc(50% - 160px);
  width: 150px;
  height: 150px;
  background: url('/img/burger.png') no-repeat center;
  background-size: 100%;
  cursor: pointer;
  animation: burger-animation 4s linear infinite;

  @keyframes burger-animation {
    30% {transform: scale(1);}
    34% {transform: scale(1.05);}
    38% {transform: scale(1);}
    42% {transform: scale(1.05);}
    44% {transform: scale(1);}
    46% {transform: rotate(-5deg);}
    48% {transform: rotate(0);}
    50% {transform: rotate(5deg);}
    52% {transform: rotate(0);}
  }

  @media (max-width: 1000px) {
    left: calc(100% - 160px);
  }

  &:hover {
    animation: none;
    filter: brightness(110%);
  }

  &:active {
    filter: brightness(95%);
  }
}