@font-face {
  font-family: 'happy-dance';
  src: url('/fonts/happy-dance.woff2') format('woff2'), url('/fonts/happy-dance.woff') format('woff');
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
  text-decoration: none;
}