.projects {
  display: grid;
  place-items: center;
  grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr;
  width: 100%;
  height: 200vh;
  position: absolute;
  top: 250vh;

  @media (orientation: portrait) {
    grid-template: repeat(8, 1fr) / 1fr;
  }

  div {
    width: 80%;
    height: 80%;
    background-color: white;

    @media (max-width: 1000px) {
      width: 95%;
    }

    @media (orientation: portrait) {
      width: 95%;
      height: 90%;
    }
  }
}